src/experiment/*
.venv/*
poetry.lock
__pycache__/
resources/*
backend/databases/postgres/database.yaml
infra/k8s/*
*.production.env
*.sql
node_modules/
backend/secrets.env
.vscode/launch.json
backend/output/*
